html {
	background: #333;
}

body {
	color: #ccc;
	margin: 0;
	overflow-y: scroll;
	font-size: 16px;
	max-width: 100%;
	width: 100%;
}

* {
	font-family: "Trebuchet MS", "Bitstream Vera Sans", verdana, lucida, arial, helvetica, sans-serif;
}

h4, h3, h2, h1 {
	margin: 0;
}

a {
	color: darkgoldenrod;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#content {
	padding: 10px 20px;
	max-width: 960px;
	margin: 0 auto;
}

#bannerContainer {
	position: relative;
	height: 400px;
	border-bottom: 1px solid #ccc;
}

.banner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	
	background: left center no-repeat #000;
}

.banner.right {
	background-position: right;
}

.banner.hidden {
	opacity: 0;
	-moz-opacity: 0;
}

.banner.animate {
	/*animation: pan 30s ease-in-out infinite alternate;*/
	/*-webkit-animation: pan 30s ease-in-out infinite alternate;*/
	-webkit-transition: background-position 30s linear, opacity 1s ease-in-out;
	-moz-transition: background-position 30s linear, opacity 1s ease-in-out;
	-o-transition: background-position 30s linear, opacity 1s ease-in-out;
	transition: background-position 30s linear, opacity 1s ease-in-out;
}

#banner1 {
	background-image: url(images/hel-banner-1.png);
}
#banner2 {
	background-image: url(images/hel-banner-2.png);
}
#banner3 {
	background-image: url(images/hel-banner-3.png);
}
@keyframes pan {
	from {background-position-x: left;}
	to {background-position-x: right;}
}
@-webkit-keyframes pan {
	from {background-position-x: left;}
	to {background-position-x: right;}
}

.logo {
	display: block;
	margin: 0 auto;
	position: relative;
	top: 40px;
	height: 320px;
	max-width: 90%;
}

@media screen {
	#bannerContainer, .banner {
		height: 200px;
	}
	.logo {
		top: 20px;
		height: 160px;
	}
}
@media screen and (min-height: 900px) {
	#bannerContainer, .banner {
		height: 400px;
	}
	.logo {
		top: 120px;
		height: 160px;
	}
}
@media screen and (max-width: 400px) {
	#bannerContainer, .banner {
		height: 100px;
	}
	.logo {
		top: 10px;
		height: 80px;
	}
}

#menu {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	width: 100%;
	background: inherit;
	z-index: 1;
	background: #000;
}

body.sticky {
	padding-top: 42px;
}

.sticky #menu {
	position: fixed;
	top: 0;
	left: 0;
}

#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	max-width: 960px;
	margin: 0 auto;
}

#menu li {
	display: inline-block;
	border-right: 1px solid #666;
}

#menu li._selected > a {
	background: #333;
	color: gold;
}

#menu li > a {
	display: inline-block;
	width: 80px;
	color: goldenrod;
	text-decoration: none;
	height: 30px;
	text-align: center;
	line-height: 30px;
	-webkit-transition: background .25s ease-out, color .25s ease-out;
	transition: background .25s ease-out, color .25s ease-out;
}

#menu li > a:hover {
	background: #666;
}

section {
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}

section h3, h2 {
	margin: 20px 0 10px;
	font-size: 150%;
	color: goldenrod;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
}

section h4 {
	font-weight: normal;
	font-style: italic;
	margin: 10px 20px;
	color: #999;
}

section label,
section select,
section input {
	font-size: 75%;
	vertical-align: middle;
}

section div {
	margin: 20px;
}

section textarea {
	width: 100%;
	height: 400px;
}

section button {
	width: 100px;
	display: inline-block;
	white-space: nowrap;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-width: 1px;
	height: 24px;
	background-color: #999;
	cursor: pointer;
	color: #333;
}

section button:hover {
	background-color: #666;
	color: gold;
}

#mapContainer {
	border: 2px solid #666;
	margin: 0 auto;
	background: #532;
	padding: 10px;
	border-radius: 10px;
	max-width: 100%;
}

#mapBox {
	max-width: 100%;
	overflow: auto;
	margin: 0;
}

#map .region {
	stroke-width: 1;
	stroke: #666;
}

#map .region[data-owned="1"] {
	fill-opacity: 1;
	stroke: #000;
}

#map .region[data-attackable] {
	cursor: pointer;
}

#map .region:hover {
	stroke: red;
	stroke-width: 3;
}

#map .region[data-attackable]:hover {
	stroke: green;
}

#map .region[data-attacking="1"] {
	stroke-width: 3;
	stroke: green;
}

#mapTooltip {
	position: absolute;
	opacity: 0.75;
	border: 2px solid silver;
	border-radius: 3px;
	background: #333;
	padding: 5px 10px;
	display: none;
	color: gold;
}

.battles th {
	padding: 10px 0 5px;
}

.battles th:first-child {
	text-align: left;
}

.battles th:nth-child(2) {
	text-align: right;
}

.battles tr.me {
	font-weight: bold;
}

.battles tr.loser {
	text-decoration: line-through;
}

.battles td {
	padding-left: 10px;
}

.battles td:nth-child(1) {
	/*width: 100px;*/
	font-style: italic;
	padding-left: 20px;
}

.battles td:nth-child(2) {
	width: 10px;
}

.battles td:nth-child(6) {
	font-style: italic;
}

.battles td {
	font-size: small;
}

.battles a {
	font-size: smaller;
	font-weight: normal;
	margin-right: 10px;
}

.battles button,
.battles a {
	float: right;
}

/*
.colorpicker-element, .colorpicker-element > * {
	vertical-align: middle;
}

.colorpicker-element {
	display: inline-block;
	margin: 0;
}

.colorpicker-element > span {
	display: inline-block;
	width: 20px;
	height: 20px;
}

.colorpicker-element > input {
	width: 60px;
}

.colorpicker {
	position: absolute;
	display: inline-block;
	border: 1px solid black;
	background: white;
}
*/

#icon {
	display: inline-block;
	width: 64px;
	height: 64px;
	vertical-align: middle;
	position: absolute;
	top: 0;
	left: 0;
}

.smallIcon {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
}

#dropzone {
	display: inline-block;
	margin: 0;
	vertical-align: middle;
	font-weight: bold;
	width: 64px;
	height: 40px;
	border: 2px solid #aaa;
	border-radius: 5px;
	text-align: center;
	color: #aaa;
	padding: 12px 0;
	position: relative;
}

#uploadIcon {
	display: inline-block
}

#login {
	padding: 10px;
	text-align: right;
	max-width: 960px;
	margin: 0 auto;
}

#login-dropdown-list {
	left: auto;
	right: 2px;
}

.pusher {
	clear: both;
}

.armies tr.me {
	font-weight: bold;
}

.armies td:nth-child(1) {
	width: 10px;
}

.armies td:nth-child(3),
.armies td:nth-child(4),
.armies td:nth-child(5) {
	padding-left: 10px;
}

#attack {
	text-align: center;
}

#attack .attackRegion {
	font-weight: bold;
}

#attack .defenderName {
	font-weight: bold;
}

#attack .defenderArmy {
	color: #666;
}

dt {
	font-weight: bold;
}

dd {
	font-style: italic;
	margin-bottom: 10px;
}

#waiting > span {
	font-style: italic;
	color: #933;
}

#waiting > span:before {
	content: ', ';
}

#waiting > span:first-child:before {
	content: '';
}

#warning {
	border-bottom: 1px solid #666;
	background: gold;
	padding: 5px;
	font-size: 75%;
	text-align: center;
	color: #000;
}

#chatbox {
	margin: 5px 0 0;
	overflow: hidden;
	word-break: break-all;
	word-break: break-word;
}

#chatinput {
	resize: none;
	border: 1px solid silver;
	outline: none;
	background: #000;
	margin: 10px 0 0;
}

.chatTime {
	font-size: smaller;
	margin-left: 10px;
	color: #666;
}

.chatUser {
	font-weight: bold;
	font-size: smaller;
}

.chatMessage {
	font-weight: normal;
	margin-bottom: 5px;
	display: block;
}

.chatIcon {
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin-right: 5px;
}
