<template name="chat">
	{{#if currentUser}}
		<section>
			<div id="chatbox">
				{{#each chatMessages}}
					<img class="chatIcon" src="{{icon}}" /><span class="chatUser" style="color: {{color}};">{{userName}}</span><span class="chatTime">{{time}}</span>
					<span class="chatMessage">{{message}}</span>
				{{/each}}
			</div>
			<div id="chatinputContainer">
				<div contenteditable id="chatinput"></div>
			</div>
		</section>
	{{else}}
		<p>You need to be signed in to view this page.</p>
	{{/if}}
</template>
