<template name="game">
	{{#if currentUser}}
		{{> round}}
		{{#if roundStarted}}
			{{> battles}}
		{{/if}}
		{{#if gameStarted}}
			{{> map}}
		{{/if}}
	{{else}}
		<p>You need to be signed in to view this page.</p>
	{{/if}}
</template>

<template name="map">
	<section>
		<h3>The Realm</h3>
		<div id="mapContainer" style="width:{{width}}px;height:{{height}}px;"><div id="mapBox">
			<svg id="map" width="{{width}}" height="{{height}}">
				{{#each region}}
					<g transform="translate({{anchorX}} {{anchorY}})">
						<polygon class="region" points="{{points}}" fill="{{color}}" data-id="{{id}}" data-owned="{{owned}}" data-attacking="{{attacking}}">
							{{#if attacking}}
								<animate id="animation1"
												 attributeName="fill"
												 from="{{color}}" to="{{fullColor}}" dur="1s"
												 begin="0s;animation2.end" />
								<animate id="animation2"
												 attributeName="fill"
												 from="{{fullColor}}" to="{{color}}" dur="1s"
												 begin="animation1.end" />
								<animate id="animation3"
												 attributeName="stroke"
												 from="green" to="white" dur="1s"
												 begin="0s;animation4.end" />
								<animate id="animation4"
												 attributeName="stroke"
												 from="white" to="green" dur="1s"
												 begin="animation3.end" />
							{{/if}}
						</polygon>
						<!--<text x="15" y="30">{{x}},{{y}}</text>-->
						{{#if capital}}
							<image x="14" y="8" width="32" height="32" xlink:href="{{capital}}" />
						{{/if}}
						{{#if portal}}
							<image x="22" y="40" width="16" height="16" xlink:href="images/keystone.png" />
						{{/if}}
					</g>
				{{/each}}
			</svg>
			<div id="mapTooltip">
				{{selectedRegion}}
			</div>
		</div></div>
		{{#if attackRegion}}
			<div id="attack">
				Attacking: <span class="attackRegion">{{attackRegion}}</span>, owned by: <span class="defenderName" style="color:{{defenderColor}};">{{defenderName}}</span> <span class="defenderArmy">({{defenderArmy}})</span>
			</div>
		{{/if}}
	</section>
</template>

<template name="battles">
	<section>
		<h3>Battles</h3>
		<table class="battles">
			<tbody>
			{{#each battles}}
				<tr>
					<th colspan="6">Battle of {{region}}
						{{#if winnerIsMe}}
							<button id="didntWin">No I didn't. :)</button>
						{{else}}
							{{#if iCanWin}}
								<button id="iWon">I won!</button>
								<a href="{{planLink}}" target="_blank">Schedule</a>
							{{/if}}
						{{/if}}
					</th>
				</tr>
				{{#each players}}
					<tr class="{{me}} {{isWinner}}">
						<td>{{role}}</td>
						<td><img class="smallIcon" src="{{icon}}" /></td>
						<td style="color: {{color}};">{{armyName}}</td>
						<td>({{army}})</td>
						<td>{{userName}}</td>
						<td>{{#if underdog}}Underdog Support{{/if}}</td>
					</tr>
				{{/each}}
			{{/each}}
			</tbody>
		</table>
	</section>
</template>
