<template name="home">
	<p>Welcome to the website for the Hilversum Escalation League.</p>

	<p>HEL is a meta-game around Warhammer, intended to provide the battles with context, fluff and a Greater
		Goal.</p>

	<h2>Rules of the Game</h2>

	<p>Players can subscribe through this website. Each player picks an army book, which they will be using throughout
		the campaign.</p>

	<p>The campaign happens on the map of the realm, consisting of regions. Each player will get 7 adjacent regions
		assigned to them randomly at the start of the game.</p>

	<p>Once all players have subscribed, the game starts. The game consists of 5 rounds.</p>

	<p>Each round, you start by submitting an army list that you will be using that round. The point allowance for the
		army list increases each round, by increments of 500 points. So, the first round will see 500pts armies, the second
		round 1000pts, and so on up to 2500pts for the 5th round. Your army list will be invisible to the other players
		until everyone has submitted their list and declared an attack.</p>

	<p>You can also include a complementary Mercenary Force of up to 20% of the points allowance for that round. This
		force can consist of units from any army book, but must all be from the same army book. See <a href="#Special_Rules">Special Rules</a> below for more
		information about this.</p>

	<p>After you have submitted an army list, you can declare your attack for that round. You do this by going to the game page and selecting an
		enemy region on the map which is adjacent to one of your own regions.</p>

	<p>Once all players have done this, the game page will show all the battles that need to be fought. In effect, each
		player will fight one offensive battle each round and any number of defensive battles. You can make up your
		own fluff for how it is possible that the same army can be fighting in multiple places at the same time. I don't
		know, portals or something.</p>

	<p>After a battle has been fought, the result can be submitted to the website. After all battles are fought, the next
		round starts.</p>

	<h2>Winning</h2>

	<p>The winner of the campaign is the player who controls the most regions at the end of round 5.</p>

	<h2 id="Rules">Rules</h2>
	<p>We use a slightly modified version of the 8th Edition Warhammer Fantasy Battles rules, including the End Times
		supplements, <i>except</i> the last supplement, End Times: Archaon. The modifications are as follows:</p>
	<dl>
		<dt>Spell Generation</dt>
		<dd>The Spell Generation and Loremaster special rules from End Times: Khaine are ignored. Instead, spellcasters
			<i>choose</i> one spell per wizard level from any lore they have access to.</dd>
		<dt>Magic Phase</dt>
		<dd>The changes to the Magic Phase from End Times: Khaine are entirely ignored. Instead, the Magic Phase is played
			according to the 8th Edition BRB. Note that End Times Spells are still allowed for wizards of level 3 or higher.</dd>
	</dl>

	<h2 id="Special_Rules">Special Rules</h2>
	<dl>
		<dt>Underdog Support</dt>
		<dd>At the start of a round, if you control less regions than your opponent for a certain battle, you are entitled
			to deploy your Mercenary Force for that battle. The game page will indicate this.
		</dd>
		<dt>Awe-inspiring Splendor</dt>
		<dd>If your entire fielded army (including mercenaries if deployed) is painted, you gain a Victory Point bonus of
			10% of the point allowance for that battle.
		</dd>
	</dl>

	<h2>Battle Rule Suggestions</h2>
	<p>These are some suggestions for additional battle rules, to further integrate each battle into the campaign. Each of these rules needs to be agreed upon by both (or all) sides before the start of the battle.</p>
	<ul>
		<li>The terrain should attempt to reflect the type of region as indicated by the name of the region.</li>
		<li>The defender gets the first turn when placing terrain.</li>
		<li>When fighting in a capital region (indicated by a player's logo), the defender <i>may</i> choose deployment zone first.</li>
		<li>When fighting a three-or-more-way battle, use the T&T scenarios and rules for determining player order and target (but not the special cards and money).</li>
	</ul>

	<p>For any comments, questions or suggestions, <a href="mailto:hel@richardheuser.nl">e-mail me</a>.</p>
</template>
